:root{
    --poncho-claro: #fff1d2;
    --poncho-medio: #ca9e67;
    --poncho-oscuro: #403508;
    --marca-cele:#00b6dc;
    --marca-celeclaro:#b6edf8;
    --marca-celeoscuro:#016f85;
    --marca-rosaclaro: #d68fb6;
    --marca-rosa: #E7007F;
    --marca-rosaoscuro: #7a0044;
    --marca-amarilloclaro: #f7e079;
    --marca-amarillo: #FFD51B;
    --marca-amarillooscuro: #9e8514;
    --marca-naranja: #f29434;
    --marca-naranjaclaro: #f0c9a3;
    --marca-naranjaoscuro: #8a4602;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }


* {
    transition: all 0.3s;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: calibri;
    font-size: 120%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 99.98vh;
    background: linear-gradient(180deg, #403608, #CB9E68);
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.encabezado {
    background: #ffead1;
    width: 50vw;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 1.4em;
    border: 2px solid #fff4e7;
}

.categoria {
    opacity: 0.7;
    text-align: left;
    font-size: 1.2em;
}

.pregunta {
    padding: 10px;
    text-align: left;
    font-size: 1.3em;
}

.btn {
    background: #ffead1;
    width: 50vw;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: background-color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
    font-size: 1.3em;
    border: 2px solid var(--marca-celeclaro);
}
h1 {
    font-weight: 300;
  }
.btn:hover {
    background-color: lightblue;
    transform: scale(1.05);
    border-color: lightblue;
}

.numero {
    opacity: 0.7;
    position: absolute;
    top: 10px;
    right: 10px;
}

.puntaje {
    padding: 10px;
    color: white;
    font-size: 1.3em;
}

.cartel-premio {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 5rem;
}

.cartel-premio h2 {
    font-size: 24px;
    color: #333;
    background-color: #ffead1;
    padding: 10px;
    border: 2px solid #ffead1;
    border-radius: 8px;
    display: inline-block;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 10px;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.inicio {
    color: #ffead1;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.inicio:hover {
    background-color: #CA9E67;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .encabezado {
        width: 100%;
        padding: 20px;
    }

    .btn {
        width: 90%;
        padding: 20px;
    }

    .pregunta {
        font-size: 1.4em;
    }

    .categoria {
        font-size: 1.3em;
    }

    .puntaje {
        font-size: 1.4em;
    }
}

.redes{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .info {
    margin: 0 auto;
    color: white;
    text-decoration: none;
    font-size: xx-large;
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid var(--marca-rosaclaro);
    box-shadow: 0px 0px 5px 0px var(--marca-rosa);
    background-image: linear-gradient(to left top, var(--marca-rosaclaro), var(--marca-rosa));
  }
  
  .info:active {
    position: relative;
    top: 1px;
  }