* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.actions {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.puzzle {
  position: relative;
}

.puzzleBackground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  filter: blur(10px);
}

.elem {
  position: absolute;
  cursor: pointer;
  z-index: 0;
  border: 1px solid #999;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transition: box-shadow 0.2s, transform 0.2s;
  border-radius: 10px;
}

.elem:hover {
  z-index: 1;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transform: scale(1.1) rotate(5deg);
}

@media (max-width: 768px) {
  .elem {
    position: relative; /* Cambiamos a posición relativa para que se apilen debajo */
    margin-bottom: 10px; /* Agregamos un margen inferior para separar las piezas */
  }

  .puzzle {
    height: auto; /* Permitimos que la altura del rompecabezas sea automática */
  }
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #001C2B;
  padding: 10px 20px;
}

a {
  color: white;
  text-decoration: none;
}

.inicio {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #0c65e9;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.inicio:hover {
  background-color: #e65c55;
  transform: scale(1.1);
}

.navbar h1 {
  color: white;
  font-size: 24px;
  margin: 0;
}