:root{
    --poncho-claro: #fff1d2;
    --poncho-medio: #ca9e67;
    --poncho-oscuro: #403508;
    --marca-cele:#00b6dc;
    --marca-celeclaro:#b6edf8;
    --marca-celeoscuro:#016f85;
    --marca-rosaclaro: #d68fb6;
    --marca-rosa: #E7007F;
    --marca-rosaoscuro: #7a0044;
    --marca-amarilloclaro: #f7e079;
    --marca-amarillo: #FFD51B;
    --marca-amarillooscuro: #9e8514;
    --marca-naranja: #f29434;
    --marca-naranjaclaro: #f0c9a3;
    --marca-naranjaoscuro: #8a4602;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
body {
    margin: 0;
    padding: 0;
    /* background-image: url("https://janschreiber.github.io/img2/black-chalk.jpg"); */
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1em;
    min-height: 99.98vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: linear-gradient(180deg, #403608, #CB9E68);
    color: white;
}

h1 {
    line-height: 1em;
    margin-bottom: 0;
    padding-bottom: 5px;
    font-size: 2.8em;
    font-weight: bold;
}


table {
    margin: 2% auto;
    border-collapse: collapse;
}

#table_game {
    position: relative;
    font-size: 120px;
    margin: 1% auto;
    border-collapse: collapse;
    background-color: rgb(222, 247, 255); /* Fondo beige más claro para la tabla */
    border: 4px solid var(--marca-cele); /* Borde marrón oscuro */
}

.td_game {
    border: 4px solid var(--marca-cele); /* Borde marrón oscuro */
    width: 90px;
    height: 90px;
    padding: 0;
    vertical-align: middle;
    text-align: center;
}

.fixed {
    width: 90px;
    height: 90px;
    line-height: 90px;
    display: block;
    cursor: pointer;
}

.td_list {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}

.th_list {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}

.reiniciar-conteiner{
    width: auto;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#restart {
    text-align: center;
    font-size: 3em;
    cursor: pointer;
    color: var(--rosa); /* Marrón oscuro */
    border: 1px solid lightblue;
    padding: 10px 20px;
    border-radius: 10px; /* Adjusted border-radius values */
}

.x {
    color: rgb(255, 0, 0);
    position: relative;
    top: -8px;
    font-size: 1.2em;
    cursor: default;
}


.o {
    color: rgb(0, 4, 255);
    position: relative;
    top: -7px;
    font-size: 1.0em;
    cursor: default;
}

/* background */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #2e2a2dab; /* fallback color */
    scrollbar-width: none;
}

/* modal content */
.modal-content {
    background-color: rgb(222, 247, 255); /* Fondo beige más claro para la tabla */
    color: rgb(32, 32, 32);
    font-size: 2em;
    font-weight: bold;
    /* 16 % from the top and centered */
    margin: 20% auto;
    padding: 20px;
    border: 1px solid var(--marca-cele);
    border-radius: 10px;
    width: 380px;
    max-width: 80%;
}
.modal-content p {
    margin: 0;
    padding: 0;
}

/* close button for modal dialog */
.close {
    color: rgb(170, 170, 170);
    float: right;
    position: relative;
    top: -25px;
    right: -10px;
    font-size: 34px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.win-color {
    background-color: var(--rosa-claro);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
}

.inicio {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #0c65e9;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.inicio:hover {
    background-color: #e65c55;
    transform: scale(1.1);
}

.navbar h1 {
    color: white;
    font-size: 24px;
    margin: 0;
}

button#okBtn {
    margin-top: 1em;
    background-color: #e7007f; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border: 1px solid #e7007f; /* Borde */
    cursor: pointer; /* Cursor */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    transition: background-color 0.3s ease; /* Transición al hacer hover */
    width: 75%;
}

.winAnnounce{
    background-color: white;
}

.redes{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .info {
    margin: 0 auto;
    color: white;
    text-decoration: none;
    font-size: xx-large;
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid var(--marca-rosaclaro);
    box-shadow: 0px 0px 5px 0px var(--marca-rosa);
    background-image: linear-gradient(to left top, var(--marca-rosaclaro), var(--marca-rosa));
  }
  
  .info:active {
    position: relative;
    top: 1px;
  }